﻿<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>

    <link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon">
    <link rel="icon" href="~/favicon.ico" type="image/x-icon">

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/toastr.min.css" rel="stylesheet" />

    <script src="~/Scripts/jquery-1.9.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/toastr.min.js"></script>

    <link href="~/Content/custom.css" rel="stylesheet" />
    <script src="~/Scripts/custom.js"></script>

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container" style="padding-right:0px;padding-left:0px;">
            <div class="navbar-header" style="width: 100%;margin-left:0px;margin-right:0px;">
                <a class="navbar-brand" href="~/">Youtube Zap</a>
                <img class="pull-right" style="height:50px;" src="@((Session["User"] as User).Image)" alt="Resim" />
                <a class="pull-right" style="color:orange;height: 50px;padding: 15px 15px;font-size: 18px;line-height: 20px;" 
                   href="https://www.youtube.com/channel/@((Session["User"] as User).Id)">@((Session["User"] as User).Name)</a>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - YoutubeZAP</p>
        </footer>
    </div>
</body>
</html>
