﻿
@{
    ViewBag.Title = "Anasayfa";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
    User user = ViewBag.User as User;
}

<style>
    .video-container {
        position: relative;
        padding-bottom: 56.25%;
        padding-top: 30px;
        height: 0;
        overflow: hidden;
    }

        .video-container iframe,
        .video-container object,
        .video-container embed {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

    .extra-row {
        margin-bottom: 15px;
        margin-left: -8px;
        margin-right: -8px;
    }


    .baslik{
        background-color:orange;
        color:black;
    }
</style>

<div class="row extra-row">

    @foreach (var item in ViewBag.Subs as List<YoutubeZap.Channel>)
    {
        <div class="row extra-row">
            <div class="col-sm-12 baslik" style="text-align:center;"><b style="font-size:25px;"><a style="color:black;" href="https://www.youtube.com/channel/@item.Id">@item.Name</a></b></div>
            @foreach (var item2 in item.Videos.Take(6).ToList())
                {
                <div class="col-sm-2" style="padding-right:0px;padding-left:0px;">
                    <div class="video-container"><iframe width="560" height="315" src="https://www.youtube.com/embed/@item2.Id" frameborder="0" allowfullscreen></iframe></div>
                </div>
            }
        </div>
        <hr />
    }

</div>
